
#sidebar {
  width: 20%;
  height: 100vh;
  float: left;
  padding: 20px;
}

#main {
  width: 80%;
  float: left;
  margin-top: 20px;
  position: relative;
}

#canvas, #bitmap {
  /*margin-top: 20px;*/
}

.marker {
  width: 20px;
  height: 20px;
  background: red;
  position: absolute;
  font-size: 0.8em;
  font-weight: bold;
  color: #fff;
  text-align: center;
  vertical-align: middle;
}

table {
}

td {
  width: 20px;
  height: 20px;
  border: 1px solid rgba(34,36,38,.1);
}
