body {
  background: black;
}

#sidepanel {
  width: 350px;
  height: 100vh;
  float: left;
  margin-left: 20px;
}

#panel .content {
  margin-bottom: 10px;
}

#panel .header {
  font-size: 2em;
  position: absolute;
}

.variable.button {
  background: #66d2cd;
  color: white;
  font-size: 3em;
  padding: 3px;
}

.variable.button.on {
  background: #f26202;
}

#main {
  /*width: 70%;*/
  /*float: left;*/
  margin-top: 35px;
  position: relative;
  margin-left: 370px;
}


#canvas, #bitmap {
  /*margin-top: 20px;*/
}

.marker {
  width: 20px;
  height: 20px;
  background: red;
  position: absolute;
  font-size: 0.8em;
  font-weight: bold;
  color: #fff;
  text-align: center;
  vertical-align: middle;
}

table {
}

td {
  width: 20px;
  height: 20px;
  border: 1px solid rgba(34,36,38,.1);
}
